body {
  overflow-x: hidden
}

.App {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  
}

.select__menu {
  z-index: 1001 !important;
  width: 100% !important;
}
.select__control {
    width: 100%;
    margin: auto;
    margin-bottom: .75rem;
}

.controlsRow {
  display: flex;
  justify-content: space-between;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #eee;
}

@media only screen and (max-width: 480px) {
.controlsRow {
  display: block;
}
}